@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap");

* {
  list-style: none;
}

.carcass {
    display: inline-block;
    width: 420px;
}

body {
    max-width: 904px;
    margin: 0 auto;
}

nav {
    margin-top: 70px;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 100px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
}

nav a:hover {
    color: #03a9f4;
}

.caption {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #b4ad9e;
}

.headline {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #626262;
}

.text {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
}

.button {
    text-align: center;
}

button {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #626262;
    background-color: #fff;
    border: 1px solid #626262;
    padding: 20px 35px;
    margin: 25px 0 70px 0;
}

span {
    display: none;
}

.mr_60 {
    margin-right: 60px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_100 {
    margin-bottom: 100px;
}

.mb_135 {
    margin-bottom: 135px;
}