@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900&display=swap");

.container {
  width: 1230px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.logo a:first-child {
  font: 900 40px "Roboto";
  color: black;
  display: block;
  text-align: center;
}

.logo a:first-child span {
  font-weight: 300;
}

.logo a:last-child {
  font: 900 40px "Roboto";
  color: black;
  display: block;
  text-align: center;
}

.logo a:last-child span {
  font-weight: 300;
}

.logo hr {
  margin: 20px 0;
  background: chartreuse;
  height: 4px;
  border: 0;
}

.menu {
  width: 70%;
}

.menu_items1,
.menu_items2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menu_items2 {
  padding: 0 100px;
  margin-bottom: 0;
}

.menu li {
  display: flex;
  flex-flow: column wrap;
}

.menu li a {
  font: 400 20px "Open Sans";
  color: goldenrod;
  text-align: center;
  transition: all 200ms linear;
}

.menu li hr {
  margin: 15px;
  border: 0;
  height: 3px;
  background: chartreuse;
}

.menu li a:hover {
  color: chartreuse;
  /* font-size: 30px; */
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font: 400 20px "Open Sans";
  color: cadetblue;
}

.caption::before,
.caption::after {
  content: '';
  border: 0;
  height: 3px;
  width: 100px;
  background: chartreuse;
  margin: 0 40px;
}