@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900&display=swap");

.container {
  width: 1230px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.logo a:first-child {
  font: 900 40px "Roboto";
  color: black;
  display: block;
  text-align: center;
}

.logo a:first-child span {
  font-weight: 300;
}

.logo a:last-child {
  font: 900 40px "Roboto";
  color: black;
  display: block;
  text-align: center;
}

.logo a:last-child span {
  font-weight: 300;
}

.logo hr {
  margin: 20px 0;
  background: chartreuse;
  height: 4px;
  border: 0;
}

.menu {
  width: 70%;
}

.menu_items {
  display: flex;
  justify-content: space-between;
}

.menu_items li {
  display: flex;
  flex-flow: column wrap;
}

.menu_items li a {
  font: 400 20px "Open Sans";
  color: goldenrod;
  text-align: center;
  transition: all 200ms linear;
}

.menu_items li hr {
  margin: 15px;
  border: 0;
  height: 3px;
  background: chartreuse;
}

.menu_items li a:hover {
  color: chartreuse;
  /* font-size: 30px; */
}
