@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900&display=swap");

/* Container style */
.container {
  width: 1110px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

/* Logo and Navigation */
.navigation {
  padding: 35px 0 30px 0;
}

/* Logo */
.logo {
  float: left;
  font-size: 0;
}

.logo a {
  font: 300 30px/32px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #555252;
}

.logo a::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

/* Navigation menu */
.menu {
  float: right;
  font-size: 0;
}

.menu li {
  display: inline-block;
  margin-right: 35px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  font: 700 14px/11px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #0f0101;
}

.menu li a:hover {
  color: #1abc9c;
}

/* Static slider */
.slider_wrap {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: url(../img/slide.png) no-repeat center;
}

.slider_navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* text-align: center; */
}

.slider_text {
  margin: 0 auto;
  width: 730px;
  margin-bottom: 70px;
}

.slider_navigation h2 {
  font: 900 60px/82px "Roboto", sans-serif;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.slider_navigation p {
  font: 300 24px/54px "Roboto", sans-serif;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.slider_navigation button {
  width: 104px;
  height: 104px;
  background-color: rgb(78, 198, 171, 0.65);
  border: 0 solid;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
}

.slider_navigation button:nth-of-type(1) {
  background-image: url(../img/arrow_left.png);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}

.slider_navigation button:nth-of-type(2) {
  background-image: url(../img/arrow_right.png);
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
}

.slider_navigation button:hover {
  background-color: #1abc9c;
  opacity: 1;
}

/* Main content */
.main {
  background-color: #e9f0fd;
  padding: 100px 0;
}

.headline {
  font: 900 48px/34px Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #515151;
  text-align: center;
  position: relative;
  padding-bottom: 37px;
  margin-bottom: 80px;
}

.headline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}

.box-item {
  display: inline-block;
  margin-right: 26px;
}

.box-item:nth-of-type(4n) {
  margin-right: 0;
}

.box-img {
  position: relative;
}

.box-shadow {
  width: 235px;
  height: 262px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid rgb(255, 255, 255, 0.54);
}

.box-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.54);
}

.box-shadow-items {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.icon {
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  position: relative;
  margin: 0 12px 7px 0;
  display: inline-block;
  cursor: pointer;
}

.icon:nth-child(3) {
  margin-right: 0;
}

.heart,
.arrows,
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  background: url(../img/heart.png);
  width: 26px;
  height: 23px;
}

.arrows {
  background: url(../img/arrows.png);
  width: 26px;
  height: 22px;
}

.clock {
  background: url(../img/clock.png);
  width: 24px;
  height: 25px;
}

.basket button {
  border: 1px solid #ffffff;
  position: relative;
  width: 182px;
  background-color: #323232;
  padding: 0;
}

.icon_basket {
  background: url(../img/basket.png);
  width: 28px;
  height: 27px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}

.box-shadow-items button span {
  font: 400 14px/48px OpenSans, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-right: 20px;
  float: right;
}

.icon:hover,
.box-shadow-items button:hover {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

.box-item:hover .box-shadow {
  display: block;
}

.box-rectangle {
  width: 255px;
  background-color: #323232;
}

.box-rectangle a {
  font: 900 18px/40px Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: inline-block;
  padding-left: 10px;
  width: 190px;
}

.box-cost {
  font: 900 18px/40px Roboto, sans-serif;
  color: #ffffff;
  width: 54px;
  background-color: rgb(255, 255, 255, 0.43);
  display: block;
  text-align: center;
  float: right;
}

.box-item:hover .box-rectangle {
  background-color: #1abc9c;
}

/* Footer content */
footer {
  background-color: #323232;
}

footer p {
  font: 400 16px/88px OpenSans, sans-serif;
  letter-spacing: -0.02em;
  color: #fefefe;
  text-align: center;
}

footer p a {
  font: 400 16px/18px OpenSans, sans-serif;
  color: #46bfa9;
  display: inline-block;
}
