@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,900&display=swap");

* {
  list-style: none;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.navigation {
  padding-top: 35px;
  margin-bottom: 100px;
}

.navigation_logo {
  float: left;
}

.navigation_logo a {
  font: 300 30px/32px "Roboto", sans-serif;
  color: #555252;
  text-transform: uppercase;
}

.navigation_logo a::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation_menu {
  float: right;
}

.navigation_menu li {
  float: left;
  margin-right: 30px;
}

.navigation_menu li:last-child {
  margin-right: 0;
}

.navigation_menu a {
  font: 700 14px/11px "Open Sans", sans-serif;
  color: #0f0101;
  text-transform: uppercase;
}

.navigation_menu a:hover {
  color: #1abc9c;
}

.products {
  margin-bottom: 70px;
}

.headline {
  padding-bottom: 30px;
  margin-bottom: 90px;
}

.headline p {
  font: 900 48px/34px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
}

.headline:last-child {
  margin-bottom: 80px;
}

.headline p::after {
  content: "";
  background: #1abc9c;
  width: 164px;
  height: 7px;
  display: block;
  margin: 30px auto 0;
}

.box {
  width: 255px;
  background: #e9f0fd;
  float: left;
  margin: 0 30px 30px 0;
}

.box:nth-child(4n) {
  margin-right: 0;
}

.box_bline {
  text-transform: uppercase;
  background: #323232;
  color: #ffffff;
  font-size: 0;
}

.box_bline a {
  font: 900 18px/40px "Roboto", sans-serif;
  color: #ffffff;
  width: 190px;
  padding-left: 10px;
  display: inline-block;
}

.box:hover > .box_bline {
  background: #1abc9c;
}

.box_cost {
  font: 900 18px/40px "Roboto", sans-serif;
  float: right;
  background: rgb(255, 255, 255, 0.5);
  padding: 0 10px;
  display: block;
}

.blog {
  padding-bottom: 80px;
}

.blog_box {
  width: 351px;
  float: left;
  margin-right: 28px;
}

.blog_box:last-child {
  margin-right: 0;
}

.blog_box h2 {
  font: 600 18px/26px "Open Sans", sans-serif;
  color: #555252;
  margin-bottom: 25px;
}

.blog_box h2::after {
  content: "";
  background-color: #1abc9c;
  width: 136px;
  height: 3px;
  display: block;
  margin-top: 10px;
}

.blog_box p {
  font: 400 14px/26px "Open Sans", sans-serif;
  color: #555252;
  margin-bottom: 15px;
}

.button {
  font: 300 16px/26px "Open Sans", sans-serif;
  background: #4ec6ab;
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 40px;
  display: inline-block;
}

.button:hover {
  box-shadow: inset 0 0 0 5px #53ea93;
  opacity: 0.8;
}
