@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,900&display=swap");

* {
  list-style: none;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.navigation {
  padding-top: 35px;
  margin-bottom: 100px;
}

.navigation_logo {
  float: left;
}

.navigation_logo a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
  text-transform: uppercase;
}

.navigation_logo a span {
  font-weight: 900;
  color: #1abc9c;
}

.navigation_menu {
  float: right;
}

.navigation_menu li {
  float: left;
  margin-right: 30px;
}

.navigation_menu li:last-child {
  margin-right: 0;
}

.navigation_menu a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  color: #0f0101;
  text-transform: uppercase;
}

.navigation_menu a:hover {
  color: #1abc9c;
}

.gallery {
  margin-bottom: 70px;
}

.headline {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
  margin-bottom: 90px;
}

.headline:last-child {
  margin-bottom: 80px;
}

.headline::after {
  content: "";
  background-image: url(../img/line.png);
  width: 164px;
  height: 7px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.box {
  width: 255px;
  height: 325px;
  background-color: #e9f0fd;
  float: left;
  margin: 0 30px 30px 0;
}

.box:nth-child(5),
.box:nth-child(9) {
  margin-right: 0;
}

.box_bline {
  background-color: #323232;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 10px;
}

.box a:hover > .box_bline {
  background-color: #1abc9c;
}

.box_bline h2 {
  float: left;
}

.box_square {
  float: right;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 0 10px;
}

.blog {
  padding-bottom: 80px;
}

.blog_box {
  width: 351px;
  height: 500px;
  float: left;
  margin: 0 25px 10px 0;
}

.blog_box:last-child {
  margin-right: 0;
}

.blog_box h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  margin-bottom: 25px;
}

.blog_box h2::after {
  content: "";
  background-image: url(../img/line2.png);
  width: 136px;
  height: 3px;
  display: block;
  margin-top: 10px;
}

.blog_box p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  margin-bottom: 15px;
}

.blog_box button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  background-color: #4ec6ab;
  color: #ffffff;
  border: 0px solid #000000;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 40px;
  cursor: pointer;
}

.blog_box button:hover {
  box-shadow: inset 0 0 0 5px #53ea93;
  opacity: 0.8;
}