/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300,400&display=swap');

header {
    background: url(../img/bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    height: 1000px;
}

header::after {
    content: "";
    background-image: -moz-linear-gradient(90deg, rgb(252, 227, 138, .9) 0%, rgb(243, 129, 129, .9) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138, .9) 0%, rgb(243, 129, 129, .9) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138, .9) 0%, rgb(243, 129, 129, .9) 100%);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
}

header .container {
    z-index: 3;
    position: sticky;
}

@media (-webkit-min-device-pixel-ratio:2),
(-o-min-device-pixel-ratio:2/1),
(min-resolution:2dppx) {
    header {
        background: url(../img/bg@2x.png) center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.container {
    max-width: 1231px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ------------ Navigation menu ------------ */

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 140px;
}

.logo a {
    font: 700 30px/30px 'Montserrat', sans-serif;
    color: #ffffff;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 620px;
}

.menu-item a {
    font: 400 14px 'Montserrat', sans-serif;
    color: #ffffff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-item a:hover {
    color: #fce38a;
}

.menu-item a::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    opacity: 0;
    margin-top: 8px;
}

.menu-item a:hover::after {
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    opacity: 1;
}

.shopping_cart-icon {
    background: url(../img/shopping_cart-icon.png) no-repeat center;
    width: 18px;
    height: 15px;
}

.search-icon {
    background: url(../img/search-icon.png) no-repeat center;
    width: 18px;
    height: 18px;
}

/* Header text */

.header-text h1 {
    font: 400 72px/72px 'Kaushan Script', cursive;
    color: #ffffff;
    text-align: center;
    margin: 0 auto 35px;
}

.header-text p {
    font: 700 150px/150px 'Montserrat', sans-serif;
    line-height: 140px;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 802px;
    text-align: center;
    margin: 0 auto 120px;
}

.header-text a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: 3.0px solid #ffffff;
    font: 700 14px 'Montserrat', sans-serif;
    color: #ffffff;
    font-family: Montserrat;
    text-transform: uppercase;
    margin: 0 auto;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.header-text a:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

/* --------------------- Amazing Services --------------------- */

.headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px;
}

.headline h2 {
    font: 24px "Kaushan Script";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headline span {
    font: 700 30px "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    padding: 15px 0 40px;
}

.headline p {
    font: 400 15px "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.headline h2::after {
    content: "";
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
}

.services_wrap {
    margin-bottom: 70px;
}

.services_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 228px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.services-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
}

.services-item::before {
    content: "";
    min-width: 32px;
    height: 32px;
    margin-right: 30px;
}

.services-item:nth-child(1)::before {
    background: url(../img/ALARM.png) no-repeat;
}

.services-item:nth-child(2)::before {
    background: url(../img/LINE_GRAPH.png) no-repeat;
}

.services-item:nth-child(3)::before {
    background: url(../img/COMPUTER.png) no-repeat;
}

.services-item:nth-child(4)::before {
    background: url(../img/BOOK.png) no-repeat;
}

.services-item:nth-child(5)::before {
    background: url(../img/HOME.png) no-repeat;
}

.services-item:nth-child(6)::before {
    background: url(../img/IMAGE.png) no-repeat;
}

.services-item-text h3 {
    font: 400 14px "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0;
}

.services-item-text p {
    font: 400 15px "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
}

/* --------------------- Meet our team --------------------- */

.teams {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px;
}

.teams_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 380px;
    flex-basis: 380px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.teams_image-box {
    position: relative;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    height: 470px;
}

.teams_image-box:hover {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.teams_image-box:hover .teams_shadow-box {
    display: block;
}

.teams_shadow-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.teams_shadow-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
    background-image: -o-linear-gradient(bottom, #fce38a 0%, #f38181 100%);
    background-image: linear-gradient(0deg, #fce38a 0%, #f38181 100%);
    opacity: 0.9;
    z-index: 1;
}

.social_media {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social_media a {
    background-color: rgb(252, 227, 138);
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.social_media a:last-child {
    margin-right: 0;
}

.social_media a:hover {
    background-color: #f38181;
}

.social_media a:hover path {
    fill: #ffffff;
}

.teams_items h3 {
    font: 400 14px "Montserrat";
    text-transform: uppercase;
    color: #333333;
    padding: 25px 0 10px;
    margin: 0;
}

.teams_items h4 {
    font: 300 15px/24px "Roboto";
    color: #999999;
    margin: 0;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

footer::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
}

footer p {
    font: 400 14px "Montserrat";
    color: #333333;
    margin: 0;
}

footer p a {
    color: #f38181;
    display: inline-block;
}

footer form {
    padding-top: 10px;
    font-size: 0;
}

footer input[type="text"] {
    width: 230px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    vertical-align: top;
    font-size: 15px;
    padding-left: 12px;
}

footer input[type="text"]::-webkit-input-placeholder {
    font: 300 15px/35px "Roboto";
    font-style: italic;
    color: #cccccc;
}

footer input[type="text"]::-moz-placeholder {
    font: 300 15px/35px "Roboto";
    font-style: italic;
    color: #cccccc;
}

footer input[type="text"]:-ms-input-placeholder {
    font: 300 15px/35px "Roboto";
    font-style: italic;
    color: #cccccc;
}

footer input[type="text"]::-ms-input-placeholder {
    font: 300 15px/35px "Roboto";
    font-style: italic;
    color: #cccccc;
}

footer input[type="text"]::placeholder {
    font: 300 15px/35px "Roboto";
    font-style: italic;
    color: #cccccc;
}

footer input[type="button"] {
    background-color: rgb(149, 225, 211);
    font: 700 14px "Montserrat";
    text-transform: uppercase;
    color: #ffffff;
    padding: 11px 30px;
    border: 0 solid;
    cursor: pointer;
    vertical-align: top;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

footer input[type="button"]:hover {
    background: rgb(0, 0, 0, 0.2);
}